body {
  min-height: 250px;
  min-width: 500px;
  background-color: black;
  color: white;
}
div,
p {
  margin: 10px;
  font-size: 15px;
}
#title {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}
#titlePhoto {
  max-width: 100px;
}
#text {
  margin: 20px;
}
a {
  color: white;
}
